#contenedor{
    width: 100%;
    max-width: 600px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    border: 1px solid;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-right-style: dotted;
    border-left-style: dotted;
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: green;
    border-left-color: orange;
    
}
.primero{
    width: 30%;
    max-width: 300px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
    border: 2px solid red;
    margin-left: 200px;

}
.segundo{   
    width: 30%;
    max-width: 300px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
    border: 2px solid red;
}
